<ion-view title="Login Page">
    <ion-content class="barc">
        <div>
            <div class="bar bar-header bar-energized">
              <h1 class="title">Analysis page</h1>
            </div>
            <br><br>
            
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    <a class="button" ng-click="login(username, password)"></a>
                    <a class="button" ng-click="register()">SignUp</a>
                    <!--<a class="button" ng-click="delete(username, password)">Delete</a>-->
                    
                </div>
                <br><br>
                
                
            </div>
            
        </div>
    </ion-content>
</ion-view>