<ion-view title="Barcode Scanner">
    <ion-content class="barc">
        <div>
            <h2 class="display">{{user}}</h2>
            <!--<div class="list list-inset">
                
                <label>
                <p class="msg">Please scan the Item</p>
                </label>
            </div>
            <div class="padding-left padding-right">
            <div class="list">
                <div class="button-bar">
                    
                    <a class="button" ng-click="register(username, password)">Register</a>
                    <a class="button" ng-click="scan();" >Scan</a>
                </div>
                <br><br>
                <p class="display">{{msg}}</p>
                
            </div>
            </div>-->
            <!--<div class="list">
                <div ng-repeat="scan in barcodes">{{ scan }}</div>
            </div>-->
            <a class="button" ng-click="home();" >Home</a>
            <a class="button" ng-click="changePass();" >ChangePassword</a>
             <div class="list">
           <!-- Enter URL : <input type="text" ng-model="imageurl" id="imageurl"/>-->
                 
            <label class="item item-input">
                    <input ng-model="imageurl" id="imageurl" type="text" placeholder="Please enter url" />
            </label>     
        <!-- <button id="btn" ng-click="getWeather()"> show barcode </button><br>-->
                 <a class="button" ng-click="getWeather();" >show barcode</a>
    <br>
                 <p class="display"> URL Image: <img src="{{imageurl}}" ></p>
<div data-ng-model="st_temp"></div>
    <div data-ng-model="end_temp"></div>
    
    
    <p class="display">Barcode:  {{st_place}}  </p>
    <input type="hidden" id="barcode" value="{{st_place}}"/>
    <!--<button id="btn" ng-click="getDetails()"> Get Product Details </button><br>-->
    <a class="button" ng-click="getDetails();" >Get Product Details</a>        <br>     
    <p class="display">Name :  {{end_place}}  </p>
    <p class="display">Price :  {{price}}  </p>             
            </div>
        </div>
    </ion-content>
</ion-view>