/* Empty. Add your own CSS if you like */
.button{
background-color: aqua;
}

.msg{
color: blueviolet
}

.display{
color: green;
}

.error{
color: red;
}

.barc{

background-color: burlywood;

}

.list.list-inset{
    background-color: burlywood;
}

.bar.bar-stable .title {
    background-color: bisque;
    text-decoration-color: black;
}
